#logo{


	color:#eeeeee;
	width: auto;
  	height: auto;

}

#Ifol{

	width: 100%;
  	height: auto;
  	margin-top: 3px;
}
nav{

	background:#800000;
	color: #eeeeee;
}
#services{

	background-color: #808080;
}
#PORTFOLIO{
	background-color:  #000000;
}
#todo{

	background-color: #808080;
}
#formulario{

	background-color: #feeeee;

}
